<!DOCTYPE html>
<html>
<head>
    <title>{% block page_title %} Обучение Python — Бесплатный интерактивный курс по Python{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="description" content="{{ domain_data.styled_domain }} is a free interactive {{ domain_data.language_uppercase }} tutorial for people who want to learn {{ domain_data.language_uppercase }}, fast." />
    <meta name="keywords" content="Learn,{{ domain_data.language_uppercase }},Tutorial,Interactive,Free" />
    <meta name="yandex-verification" content="603fa69b8fd5467c" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="{% block ogtitle %}Learn {{ domain_data.language_uppercase }} - Free Interactive {{ domain_data.language_uppercase }} Tutorial{% endblock %}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{% block ogurl %}{{ domain_data.full_url }}{% endblock %}" />
    <meta property="og:image" content="{{ domain_data.full_url }}{{ domain_data.share_logo }}" />

    <link rel="favicon" href="{{ domain_data.favicon }}" type="image/x-icon">

    <link rel="stylesheet" href="/static/css/codemirror.css">
    <link rel="stylesheet" href="/static/css/theme/xq-light.css">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/prism-light.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/learnpython.css"/>
{#    <script src="/static/js/jquery.min.js"></script>#}
</head>
<body>

<nav class="navbar navbar-expand-lg bg-transparent navbar-light mb-3">

    <div class="container">
    	<a class="navbar-brand" href="/">
    	    <img src="{{ domain_data.logo }}" style="height: 24px;"/>
    	</a>
    </div>

</nav>

<div class="container my-2">
        <!-- share Button BEGIN -->
    <script src="https://yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
    <script src="https://yastatic.net/share2/share.js"></script>
    <div class="ya-share2" data-services="collections,vkontakte,facebook,telegram,twitter,odnoklassniki" data-size="s"></div>

    <!-- share Button END -->
</div>


{% block content %}{% endblock %}

<script
  src="https://code.jquery.com/jquery-1.12.4.min.js"
  integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

<script src="/static/js/prism.js"></script>
<script src="https://codecamp-widgets.s3.amazonaws.com/dcl-react.js"></script>

<script async defer src="https://buttons.github.io/buttons.js"></script>

<script src="https://kit.fontawesome.com/e7efaf7ef6.js"></script>


<script src="/static/js/codemirror/codemirror.js"></script>
<script src="/static/js/codemirror/addon/edit/matchbrackets.js"></script>
<script src="/static/js/codemirror/mode/clike/clike.js"></script>
<script src="/static/js/codemirror/mode/python/python.js"></script>
<script src="/static/js/codemirror/mode/xml/xml.js"></script>
<script src="/static/js/codemirror/mode/css/css.js"></script>
<script src="/static/js/codemirror/mode/htmlembedded/htmlembedded.js"></script>
<script src="/static/js/codemirror/mode/htmlmixed/htmlmixed.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/bootbox.min.js"></script>

<script src="/static/js/codecamp.js"></script>

{% block head %}{% endblock %}

</body>
</html>
