{% extends "base.html" %}
{% block page_title %}{{ html_title }}{% endblock %}
{% block head %}
    {% autoescape off %}
    <script>
        var domainData = {{ domain_data_json }};
        var nextChapter = "/{{ next_chapter }}";
        var previousChapter = "/{{ previous_chapter }}";
        var backChapter = "/{{ back_chapter }}";
        var tutorialData = {{ tutorial_data_json }};
    </script>
    {% endautoescape %}
    <script src="/static/js/learnpython.js"></script>
{% endblock %}

{% block title %}{% if tutorial_page %}{{ page_title }} - {% endif %}Изучаем {{ domain_data.language_uppercase }} - Бесплатный интерактивный курс по {{ domain_data.language_uppercase }}{% endblock %}
{% block ogtitle %}{% if tutorial_page %}{{ page_title }} - {% endif %}Изучаем {{ domain_data.language_uppercase }} - Бесплатный интерактивный курс по {{ domain_data.language_uppercase }}{% endblock %}
{% block ogurl %}{{ domain_data.full_url }}{% if tutorial_page %}/{{ path }}{% endif %}{% endblock %}

{% block content %}
<div class="container" id="main">
    <div class="row">

        <div class="col">

            {% if page_title %}
            <ul class="breadcrumb" style="margin-top: 10px">
              {% if back_chapter %}
              <li><a href="/{{ back_chapter }}">{{ back_chapter }}</a> <span class="divider mr-1">/</span></li>
              {% endif %}
              <li class="active">{{ page_title }}</li>
            </ul>
            {% endif %}

            <div class="clearfix">
                <p>Начните изучать Python с помощью бесплатного <a href="https://codecamp.ru/python?utm_source=pythontuts_ru&utm_campaign=pythontuts_tutorials">курса Введение в Python</a> от <a href="https://codecamp.ru/?utm_source=pythontuts_ru&utm_campaign=pythontuts_tutorials">онлайн-института Кодкамп</a>.
            </div>

            <span id="inner-text">{% autoescape off %}
                {% if page_title %}
                <h1>{{ i18n_titles.get(page_title).decode('utf-8') }}</h1>
                <hr/>
                {% endif %}
                {{ text }}
            {% endautoescape %}</span>

            <!-- DataCamp-Light exercise -->
            {% if page_title %}
            <div data-datacamp-exercise data-lang="python" data-height="400">
              <code data-type="pre-exercise-code"></code>
              <code data-type="sample-code">{{tutorial_data.code.decode('utf-8')}}</code>
              <code data-type="solution">{{tutorial_data.solution.decode('utf-8')}}</code>
              <code data-type="sct">{{tutorial_data.output.decode('utf-8')}}</code>
            </div>
            {% endif %}

            <div>
                <p>Этот сайт поддерживается онлайн-институтом <a href="https://codecamp.ru/?utm_source=pythontuts_ru&utm_campaign=pythontuts_tutorials">Кодкамп</a>. Кодкамп предлагает интерактивные онлайн-курсы по <a href="https://codecamp.ru/courses?utm_source=pythontuts_ru&utm_campaign=pythontuts_tutorials">Python</a> для развития цифровых навыков. Присоединяйтесь к <b>тысячам других</b> студентов и начните изучать Python уже сегодня!</p>
                {% if previous_chapter %}
                <a class="btn btn-primary pull-left" href="/{{ previous_chapter }}">
                    <i class="fas fa-angle-double-left"></i> Предыдущий урок
                </a>
                {% endif %}
                {% if next_chapter %}
                <a class="btn btn-primary pull-right" style="float:right;" href="/{{ next_chapter }}">
                    Следующий урок <i class="fas fa-angle-double-right"></i>
                </a>
                {% endif %}
            </div>
        </div>
        <div class="col-2 d-none d-lg-block mt-2">
        </div>
    </div>
</div>

{% include "footer.html" %}

{% endblock %}
